/* VARIABLES ========== */
$animate_all_200: all 200ms ease-in-out;
$jss_blue: #06e;
$jss_ink: #222;
$jss_paper: #fffefd;
$jss_red: #f04;
$jss_yellow: #fc0;


/* ========================================
  HEADER STYLES
=========================================== */

.global_header {
  position: relative;
  z-index: 2;
  box-shadow: 0 0 4px #2222;
  .home_link {
    color: $jss_ink;
    font-weight: bold;
    text-decoration: none;
    transition: $animate_all_200;
    &:hover {
      color: $jss_red;
    }
  }
  .nav_links {
    .nav_link {
      color: $jss_ink;
      text-decoration: underline;
      transition: $animate_all_200;
      &:hover {
        color: $jss_blue;
        text-decoration: none;
      }
    }
  }
}

.mobile_nav {
  background-color: $jss_paper;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  transition: $animate_all_200;
  width: 0vw;
  z-index: 1;
  &.active {
    width: 100vw;
  }
  .wrapper {
    width: 100vw;
    .nav_links {
      margin-top: 6rem;
      .nav_link {
        color: $jss_ink;
        text-decoration: underline;
        transition: $animate_all_200;
        display: block;
        text-align: right;
        &:hover {
          color: $jss_blue;
          text-decoration: none;
        }
      }
    }
  }
}


/* ========================================
  FOOTER STYLES
=========================================== */

.global_footer {
  padding: 3rem 0;
}


/* ========================================
  HERO ROW STYLES
=========================================== */

.hero_row {
  color: #fff;
  background-position: 50% 50%;
  background-size: cover;
  .hero_wrapper {
    align-items: center;
    background-color: #0008;
    display: flex;
    min-height: 20vh;
    .hero_content {
      padding: 4rem 0;
      .cta_wrapper {
        .cta {
          border-radius: 0;
          border: 1px solid $jss_paper;
          color: $jss_paper;
          transition: $animate_all_200;
          &:hover {
            background-color: $jss_paper;
            color: $jss_ink;
          }
        }
      }
    }
  }
}


/* ========================================
  CONTENT BLOCK STYLES
=========================================== */


.block_content {
  .cta_wrapper {
    .cta {
      color: $jss_ink;
      border: 1px solid $jss_ink;
      border-radius: 0;
      transition: $animate_all_200;
      &:hover {
        background-color: $jss_ink;
        color: $jss_paper;
      }
    }
  }
  .image_wrapper {
    position: relative;
    overflow: hidden;
    .layered_images {
      background-color: #000;
      height: calc(100% + 20px);
      left: 50%;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      top: 50%;
      transition: $animate_all_200;
      translate: -50% -50%;
      width: calc(100% + 20px);
      cursor: crosshair;
      .image_layer {
        mix-blend-mode: screen;
        position: absolute;
        transition: $animate_all_200;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
      }
      &:hover {
        opacity: .9;
        .image_layer {
          &.layer-0 {
            animation-duration: 1200ms;
            animation-iteration-count: infinite;
            animation-name: layered_image_shifter-0;
            animation-timing-function: linear;
            top: 0;
            left: -10px;
          }
          &.layer-1 {
            animation-duration: 1400ms;
            animation-iteration-count: infinite;
            animation-name: layered_image_shifter-1;
            animation-timing-function: linear;
            top: 0;
            left: 10px;
          }
          &.layer-2 {
            animation-duration: 1600ms;
            animation-iteration-count: infinite;
            animation-name: layered_image_shifter-1;
            animation-timing-function: linear;
            left: 0;
            top: 0px;
          }
        }
      }
    }
  }
}
@keyframes layered_image_shifter-0 {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 2px;
    top: 2;
  }
  50% {
    left: 0px;
    top: 1px;
  }
  75% {
    left: -2px;
    top: 0;
  }
  100% {
    left: 0;
    top: 0;
  }
}
@keyframes layered_image_shifter-1 {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 4px;
    top: 2;
  }
  50% {
    left: 0px;
    top: -1px;
  }
  75% {
    left: -4px;
    top: 0;
  }
  100% {
    left: 0;
    top: 0;
  }
}
@keyframes layered_image_shifter-2 {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 6px;
    top: 2;
  }
  50% {
    left: 0px;
    top: 0;
  }
  75% {
    left: -6px;
    top: 0;
  }
  100% {
    left: 0;
    top: 0;
  }
}


/* ========================================
  IMAGE GRID STYLES
=========================================== */

.grid_of_images {
  .image_title {
    white-space: pre-wrap;
  }
}


/* ===================================================================================
  RESPONSIVE STYLES
====================================================================================== */

// -xs
@media ( max-width: 575px ) {}
// -sm
@media ( min-width: 576px ) {}
@media ( max-width: 767px ) {}
// -md
@media ( min-width: 768px ) {}
// -lg
@media ( min-width: 992px ) {}
// -xl
@media ( min-width: 1200px ) {}
// -xxl
@media ( min-width: 1400px ) {}
