/* VARIABLES ========== */
$animate_all_200: all 200ms ease-in-out;
$jss_blue: #06e;
$jss_ink: #222;
$jss_paper: #fffefd;
$jss_red: #f04;
$jss_yellow: #fc0;


/* ========================================
  HEADER STYLES
=========================================== */

.global_header {
  .home_link {
    color: $jss_ink;
    text-decoration: none;
    font-weight: bold;
  }
}


/* ========================================
  HERO ROW STYLES
=========================================== */

.hero_row {
  color: #fff;
  background-position: 50% 50%;
  background-size: cover;
  .hero_wrapper {
    background-color: #0008;
    .hero_content {
      padding: 4rem 0;
      .cta_wrapper {
        .cta {
          color: #fff;
          border: 1px solid #fff;
          border-radius: 0;
        }
      }
    }
  }
}


/* ========================================
  CONTENT BLOCK STYLES
=========================================== */

.block_content {
  .cta_wrapper {
    .cta {
      color: $jss_ink;
      border: 1px solid $jss_ink;
      border-radius: 0;
      transition: $animate_all_200;
      &:hover {
        background-color: $jss_ink;
        color: $jss_paper;
      }
    }
  }

}


/* ===================================================================================
  RESPONSIVE STYLES
====================================================================================== */

// -xs
@media ( max-width: 575px ) {}
// -sm
@media ( min-width: 576px ) {}
@media ( max-width: 767px ) {}
// -md
@media ( min-width: 768px ) {}
// -lg
@media ( min-width: 992px ) {}
// -xl
@media ( min-width: 1200px ) {}
// -xxl
@media ( min-width: 1400px ) {}
