/* VARIABLES ========== */
$animate_all_200: all 200ms ease-in-out;
$black: #000;
$white: #fff;

/* ======================================================================
  COMPONENT STYLES
========================================================================= */


/* ===================================================================================
  RESPONSIVE STYLES
====================================================================================== */

// -xs
@media ( max-width: 575px ) {}
// -sm
@media ( min-width: 576px ) {}
@media ( max-width: 767px ) {}
// -md
@media ( min-width: 768px ) {}
// -lg
@media ( min-width: 992px ) {}
// -xl
@media ( min-width: 1200px ) {}
// -xxl
@media ( min-width: 1400px ) {}
