/* VARIABLES ========== */
$animate_all_200: all 200ms ease-in-out;
$jss_blue: #06e;
$jss_ink: #222;
$jss_paper: #fffefd;
$jss_red: #f04;
$jss_yellow: #fc0;


/* ========================================
  HEADER STYLES
=========================================== */

.global_header {
  position: relative;
  width: 100%;
  z-index: 4;
  .home_link {
    color: $jss_ink;
    font-weight: bold;
    text-decoration: none;
    transition: $animate_all_200;
    &:hover {
      color: $jss_red;
    }
    &.label_maker:hover {
      color: $jss_paper !important;
      background-color: $jss_red !important;
    }
  }
  .nav_links {
    .nav_link {
      border-radius: 0;
      color: $jss_ink;
      text-decoration: none;
      transition: $animate_all_200;
      &:hover {
        color: $jss_blue;
        text-decoration: underline;
      }
      &.active,
      &:focus {
        background-color: $jss_ink !important;
        color: $jss_paper !important;
      }
    }
  }
  &.big_hero {
    position: absolute;
    .home_link {
      color: $jss_paper;
    }
    .nav_links {
      .nav_link {
        color: $jss_paper;
      }
      .mobile_nav_toggle {
        color: $jss_paper;
        &.active {
          color: $jss_ink;
        }
      }
    }
  }
}

.mobile_nav {
  background-color: $jss_paper;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  transition: $animate_all_200;
  width: 0vw;
  z-index: 2;
  &.active {
    width: 100vw;
  }
  .wrapper {
    width: 100vw;
    .nav_links {
      margin-top: 6rem;
      .nav_link {
        color: $jss_ink;
        text-decoration: underline;
        transition: $animate_all_200;
        display: block;
        text-align: right;
        &:hover {
          color: $jss_blue;
          text-decoration: none;
        }
      }
    }
  }
}


/* ========================================
  FOOTER STYLES
=========================================== */

.global_footer {
  padding: 3rem 0;
  .container {
    border-top: 1px dotted $jss_ink;
    padding-top: 4rem;
  }
}


/* ========================================
  HERO ROW STYLES
=========================================== */

.hero_row {
  background-position: 50% 50%;
  background-size: cover;
  color: $jss_ink;
  .hero_wrapper {
    align-items: center;
    display: flex;
    .hero_content {
      border-bottom: 1px dotted $jss_ink;
      padding: 4rem 0;
      .page_title {
        font-size: 3em;
      }
      .hero_copy {
        p {
          font-size: 1.5em;
          margin: 0;
        }
      }
      .cta_wrapper {
        margin-top: 1em;
        .cta {
          border-radius: 0;
          border: 1px solid $jss_ink;
          color: $jss_ink;
          transition: $animate_all_200;
          &:hover {
            background-color: $jss_ink;
            color: $jss_paper;
          }
        }
      }
    }
  }
}


/* ========================================
  HERO ROW BIG STYLES
=========================================== */

.hero_row_big {
  color: #fff;
  overflow: hidden;
  position: relative;
  z-index: 1;
  .bg_img_container {
    background-position: 50% 50%;
    background-size: cover;
    bottom: 0;
    height: 100vh;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 0;
  }
  .hero_wrapper {
    align-items: flex-end;
    background-color: #000a;
    display: flex;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    .hero_content {
      padding: 4rem 0;
      .page_title {
        font-size: 3em;
      }
      .hero_copy {
        p {
          font-size: 1.5em;
          margin: 0;
        }
      }
      .cta_wrapper {
        margin-top: 1em;
        .cta {
          background-color: $jss_paper;
          border-radius: 0;
          color: $jss_ink;
          transition: $animate_all_200;
          &:hover {
            background-color: $jss_ink;
            color: $jss_paper;
          }
        }
      }
    }
  }
}


/* ========================================
  CONTENT BLOCK STYLES
=========================================== */


.block_content {
  .cta_wrapper {
    .cta {
      color: $jss_ink;
      border: 1px solid $jss_ink;
      border-radius: 0;
      transition: $animate_all_200;
      &:hover {
        background-color: $jss_ink;
        color: $jss_paper;
      }
    }
  }
}


/* ========================================
  LAYERD IMAGE EFFECT
=========================================== */

.image_wrapper.has_layers {
  cursor: crosshair;
  overflow: hidden;
  position: relative;
  .layered_images {
    background-color: #000;
    height: calc(100% + 0px);
    left: 50%;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transition: $animate_all_200;
    translate: -50% -50%;
    width: calc(100% + 0px);
    .image_layer {
      height: 100%;
      left: 0;
      mix-blend-mode: screen;
      position: absolute;
      top: 0;
      transition: $animate_all_200;
      width: 100%;
    }
  }
  &:hover .layered_images {
    opacity: .9;
    .image_layer {
      &.layer-0 {
        animation-duration: 1200ms;
        animation-iteration-count: infinite;
        animation-name: layered_image_shifter-0;
        animation-timing-function: linear;
        top: 0;
        left: -10px;
      }
      &.layer-1 {
        animation-duration: 1400ms;
        animation-iteration-count: infinite;
        animation-name: layered_image_shifter-1;
        animation-timing-function: linear;
        top: 0;
        left: 10px;
      }
      &.layer-2 {
        animation-duration: 1600ms;
        animation-iteration-count: infinite;
        animation-name: layered_image_shifter-1;
        animation-timing-function: linear;
        left: 0;
        top: 0px;
      }
    }
  }
}
@keyframes layered_image_shifter-0 {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 2px;
    top: 2;
  }
  50% {
    left: 0px;
    top: 1px;
  }
  75% {
    left: -2px;
    top: 0;
  }
  100% {
    left: 0;
    top: 0;
  }
}
@keyframes layered_image_shifter-1 {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 4px;
    top: 2;
  }
  50% {
    left: 0px;
    top: -1px;
  }
  75% {
    left: -4px;
    top: 0;
  }
  100% {
    left: 0;
    top: 0;
  }
}
@keyframes layered_image_shifter-2 {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 6px;
    top: 2;
  }
  50% {
    left: 0px;
    top: 0;
  }
  75% {
    left: -6px;
    top: 0;
  }
  100% {
    left: 0;
    top: 0;
  }
}


/* ========================================
  IMAGE GRID STYLES
=========================================== */

.grid_of_images {
  .image_wrapper {
    .image_title {
      margin-top: 1em;
      white-space: pre-wrap;
    }
  }
}


/* ===================================================================================
  RESPONSIVE STYLES
====================================================================================== */

// -xs
@media ( max-width: 575px ) {}
// -sm
@media ( min-width: 576px ) {}
@media ( max-width: 767px ) {}
// -md
@media ( min-width: 768px ) {}
// -lg
@media ( min-width: 992px ) {}
// -xl
@media ( min-width: 1200px ) {}
// -xxl
@media ( min-width: 1400px ) {}
