/* VARIABLES ========== */
$animate_all_200: all 200ms ease-in-out;
$jss_blue: #06e;
$jss_ink: #222;
$jss_paper: #fffefd;
$jss_red: #f04;
$jss_yellow: #fc0;

/* ======================================================================
  GLOBAL STYLES
========================================================================= */

* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Courier Prime', Helvetica, Arial, sans-serif;
  font-weight: 400;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $jss_ink;
  background-color: $jss_paper;
}
html {
  overflow: initial;
}
body.page_home {
  &.scroll_lock {
    overflow: hidden;
  }
}
::-moz-selection {
  background-color: #000;
  color: #fff;
}
::selection {
  background-color: #000;
  color: #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
a {
  color: $jss_ink;
  text-decoration: underline;
  transition: $animate_all_200;
  &:hover {
    color: $jss_blue;
    text-decoration: none;
  }
  &:focus {
    background-color: $jss_ink !important;
    color: $jss_paper !important;
  }
}


/* ========================================
  GLOBAL FLAVORS
=========================================== */

.label_maker {
  background-color: $jss_ink !important;
  box-shadow: 0 2px 4px #0003, inset 1px 1px 1px #fff1, inset 1px 1px 1px #0001;
  color: $jss_paper !important;
  display: inline-block;
  margin: 0 0 .5em;
  padding: .25em .5em;
}

.art_frame {
  background-color: $jss_paper;
  padding: 1em;
  transition: $animate_all_200;
  border: 1px dotted #0000;
  &:hover {
    border-color: $jss_yellow $jss_red $jss_ink $jss_blue;
  }
}


/* ========================================
  PAGE: HOME
=========================================== */

// .page_content.home {}



/* ===================================================================================
  RESPONSIVE STYLES
====================================================================================== */

// -xs
@media ( max-width: 575px ) {}
// -sm
@media ( min-width: 576px ) {}
@media ( max-width: 767px ) {}
// -md
@media ( min-width: 768px ) {}
// -lg
@media ( min-width: 992px ) {}
// -xl
@media ( min-width: 1200px ) {}
// -xxl
@media ( min-width: 1400px ) {}
