/* VARIABLES ========== */
$animate_all_200: all 200ms ease-in-out;
$jss_ink: #222;
$jss_paper: #ffe;

/* ======================================================================
  GLOBAL STYLES
========================================================================= */

* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Courier Prime', Helvetica, Arial, sans-serif;
  font-weight: 400;
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  overflow: initial;
}
body.page_home {
  &.scroll_lock {
    overflow: hidden;
  }
}
::-moz-selection {
  background-color: #000;
  color: #fff;
}
::selection {
  background-color: #000;
  color: #fff;
}


/* ========================================
  PAGE: HOME
=========================================== */

.page_content.home {
  .hero_row {
    color: #fff;
    background-position: 50% 50%;
    background-size: cover;
    .hero_wrapper {
      background-color: #0008;
      .hero_content {
        padding: 4rem 0;
        .cta_wrapper {
          .cta {
            color: #fff;
            border: 1px solid #fff;
            border-radius: 0;
          }
        }
      }
    }
  }
}



/* ===================================================================================
  RESPONSIVE STYLES
====================================================================================== */

// -xs
@media ( max-width: 575px ) {}
// -sm
@media ( min-width: 576px ) {}
@media ( max-width: 767px ) {}
// -md
@media ( min-width: 768px ) {}
// -lg
@media ( min-width: 992px ) {}
// -xl
@media ( min-width: 1200px ) {}
// -xxl
@media ( min-width: 1400px ) {}
